*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    padding: 40px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #fff; */
    /* z-index: 1; */
    border-bottom:2px solid #000;
}
header nav{
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
li.active{
    background: red;
}
li a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
section{
    height: 100vh;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}